html,
body {
    height: 100%;

}

.mydiv {
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
    animation: myanimation 3s infinite;
}

@keyframes myanimation {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: brown;
    }

    100% {
        background-color: red;
    }


}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

#orderName {
    vertical-align: middle;
}

#orderNo {
    float: left;
}

fieldset {
    margin: 0 auto;
}


.parallax {
    /* The image used */
    background-image: url("bg0.gif");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rectangle1 {
    /* The image used */
    background-image: url("rectangle1.gif");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgrec {
    background-image: url("rectangle1.gif");
    background-size: 300%;
}

h1 {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F
}

h2 {
    text-shadow: 1px 1px white, -1px -1px #333
}