html,
body {
    height: 100%;

}

.mydiv {
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
    animation: myanimation 3s infinite;
}

@keyframes myanimation {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: brown;
    }

    100% {
        background-color: red;
    }


}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

#orderName {
    vertical-align: middle;
}

#orderNo {
    float: left;
}

fieldset {
    margin: 0 auto;
}


.parallax {
    /* The image used */
    background-image: url("bg3.gif");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pp1 {
    color: white;
    text-shadow: 0 0 0.2em red, 0 0 0.2em red,
        0 0 0.2em red
}
#pp2 {
    color: white;
    text-shadow: 0 0 0.2em blue, 0 0 0.2em blue,
        0 0 0.2em blue
}
#pp3 {
    color: white;
    text-shadow: 0 0 0.2em green, 0 0 0.2em green,
        0 0 0.2em green
}

h2 {
    text-shadow: 1px 1px white, -1px -1px #333
}

h1 {
    text-shadow: 4px 4px #000000;
  }

  a:hover {
    color: green;
}

.a:link {
    color: blue;
}

button:hover {
    cursor: pointer;
    background: #053056;
}