html,
body {
    height: 100%;

}

.mydiv {
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
    animation: myanimation 3s infinite;
}

@keyframes myanimation {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: brown;
    }

    100% {
        background-color: red;
    }


}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}

#orderName {
    vertical-align: middle;
}

#orderNo {
    float: left;
}

fieldset {
    margin: 0 auto;
}


.parallax {
    /* The image used */
    background-image: url("bgInhouse.gif");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-shadow: 0 0 0.2em rgb(95, 52, 187), 0 0 0.2em rgb(95, 52, 187),
        0 0 0.2em rgb(95, 52, 187)
}

h2 {
    text-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255),
    0 0 0.2em rgb(255, 255, 255)
}

.h1s {
    text-shadow: 0 0 0.2em rgb(33, 100, 45), 0 0 0.2em rgb(33, 100, 45),
        0 0 0.2em rgb(33, 100, 45)
}